<%= render '/layouts/header' %>
<%= render '/layouts/nav' %>

<div class="wrapper row3">
  <main class="hoc container clear">
    <h1>Welcome <%= @user.first_name %></h1>

      <ul id="user-tasks">
        <li><a href="" class='link-profile-change 1'>Shipped Items</a></li>
        <li><a href="" class='link-profile-change 2'>My Shipping Addresses</a></li>
        <li><a href="" class='link-profile-change 3'>Profile Info</a></li>
      </ul>

    <table class='table-shipped show-active 1'>
      <th>Shipped Items</th>
      <th>View Full Order</th>

      <% @orders.each do | item | %>
        <tr>
          <td><%= item.name %></td>
          <td><%= link_to 'View', order_path( item.order ) %></td>
        </tr>
      <% end %>
    </table>

    <table class="table-addresses show-active 2">
      <th>Nickname</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Default</th>
      <th>Delete</th>

      <% @addresses.each do | address | %>
        <tr class='address-<%= address.id %>'>
          <td><%= address.nickname %></td>
          <td><%= address.address %></td>
          <td><%= address.city %></td>
          <td><%= address.state %></td>
          <td><%= address.zip %></td>
          <td>
            <%= form_for address, html: { method: :put, class: 'form-update-default' } do |f| %>
              <%= f.hidden_field :id, value: address.id %>
              <%= f.submit 'Set', class: 'submit-address-default' %>
            <% end %>
          </td>
          <td>
            <%= form_for address, html: { method: :delete, class: 'form-delete-address' } do |f| %>
              <%= f.hidden_field :id, value: address.id %>
              <%= f.submit 'Delete', class: 'submit-address-delete' %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr class='add-new-address'>
        <td><%= link_to 'Add New', new_address_path %></td>
      </tr>
    </table>

    <% if @default != [] %>
      <p class='show-default'>
        Your default shipping address is <%= @default.first.nickname %>
        <br>
        All items will now be shipped to this location!
      </p>
    <% end %>
  </main>
</div>

<%= render '/layouts/footer' %>

<script type="text/javascript">
  $( '.submit-address-default' ).on( 'click', function( e ) {
    e.preventDefault();

    var target = e.target.parentElement;
    var data = "address=" + target[ 3 ].value;
    var url = target.action;

    $.ajax({
      type: 'put',
      url: url,
      data: data
    }).done( function( response ) {
      location.reload();
    });
  });

  $( '.submit-address-delete' ).on( 'click', function( e ) {
    e.preventDefault();

    var target = e.target.parentElement;
    var data = "address=" + target[ 3 ].value;
    var url = target.action;

    $.ajax({
      type: 'delete',
      url: url,
      data: data
    }).done( function( response ) {
      $( '.address-' + target[ 3 ].value ).hide();
      $( '.show-default' ).hide();
    });
  });

  $( '.link-profile-change' ).on( 'click', function( e ) {
    e.preventDefault();

    var cont = this.className.split( ' ' )[ 1 ];

    $( '.show-active' ).hide();

    var found_items = $( '.' + cont )[ 1 ];

    $( found_items ).show();

    if ( found_items.className.split( ' ' )[ 2 ] === '2' ) {
      $( '.show-default' ).show();
    } else {
      $( '.show-default' ).hide();
    };
  });
</script>
