<%= render '/layouts/header' %>
<%= render '/layouts/nav' %>

<%= render '/layouts/popup' %>

<div class="wrapper row3">
  <main class="hoc container clear">
    <table>
      <tr>
        <th>Order Nickname</th>
        <th>Order Number</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Delete</th>
      </tr>

      <% @orders.each do | order | %>
      <% if order.priority == 'Low' %>
        <tr class='low-order'>
      <% else %>
        <tr class='high-order'>
      <% end %>
          <% if order.nickname != nil %>
            <td><%= link_to "#{ order.nickname }", order_path( order ) %></td>
          <% else %>
            <td>Add one when adding an item to this order!</td>
          <% end %>
          <td><%= link_to "#{ order.order_number }", order_path( order ) %></td>
          <td><%= order.order_status %></td>
          <td>
            <div class="form-holder">
              <form class="order-priority-form" action="/orders/<%= order.id %>/edit" method="patch">
                <select name="priority">
                  <% if order.priority == 'Low' %>
                  <option value="Low">Low</option>
                  <option value="High">High</option>
                  <% else %>
                  <option value="High">High</option>
                  <option value="Low">Low</option>
                  <% end %>
                </select>
              </form>
            </div>
          </td>
          <td>
            <%= form_for order, html: { method: :delete, class: 'form-delete-order' } do |f| %>
              <%= f.hidden_field :id, value: order.id %>
              <%= f.submit 'Delete', class: 'submit-todo-delete' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </main>
</div>

<div class="create_order_button">
  <%= link_to 'New Order', new_order_path %>
</div>

<%= render '/layouts/footer' %>


<script type="text/javascript">
  $( '.travel-link' ).on( 'click', function( e ) {
    e.preventDefault();
    $( '.popup-traveler' ).show();
  });

  $( 'form input.travel-click' ).on( 'click', function( e ) {
		e.preventDefault();

		var target = e.target
		var url = target.parentElement.parentElement.action
		var type = target.parentElement.parentElement.method
		var data = 'airport-from=' + target.parentElement.parentElement[ 0 ].value +
							 '&airport-to=' + target.parentElement.parentElement[ 1 ].value +
							 '&date=' + target.parentElement.parentElement[ 2 ].value +
							 '&qty=' + target.parentElement.parentElement[ 3 ].value +
							 '&info=' + target.parentElement.parentElement[ 4 ].value


		$.ajax({
			type: type,
			url: url,
			data: data
		}).done( function( response ) {
			$( '.inner' ).html( '' );
			$( '.inner' ).append( response );
      setTimeout(
        function()
        {
          location.reload();
        }, 5000);
		});
  });

  $( '.order-priority-form select' ).on( 'change', function( e ) {
    e.preventDefault();

    var target = e.target;
    var type = target.parentElement.method;
    var url = target.parentElement.action;
    var data = $( target ).serialize();

    $.ajax({
      type: type,
      url: url,
      data: data
    }).done( function( response ) {
        location.reload();
    });
  });


  $( '.submit-todo-delete' ).on( 'click', function( e ) {
    e.preventDefault();
    var target = e.target.parentElement;
    var data = "order=" + target[ 3 ].value;
    var url = target.action;

    $.ajax({
      type: 'delete',
      url: url,
      data: data
    }).done( function( response ) {
      location.reload();
    });
  });
</script>
