<%= render '/layouts/header' %>
<%= render '/layouts/nav' %>

<%= render '/layouts/popup' %>

<div class="head">
  <h3>Order #<%= @order.order_number %> - <%= @order.order_status %></h3>

  <table id='items-table-full'>
    <col width="70">
    <col width="70">
    <col width="50">
    <col width="50">
    <col width="100">
    <col width="10">
    <tr>
      <th>Store</th>
      <th>Item Name</th>
      <th>Item Model</th>
      <th>Item Color</th>
      <th>Status</th>
      <th>Priority</th>
    </tr>

    <% @items.each_with_index do | item, idx | %>
    <% if item.status.include?( 'Picked Up' ) || item.status.include?( 'Delivered' ) || item.status.include?( 'Shipped' ) %>
      <tr class='stat-compl'>
    <% elsif item.priority == 'High' %>
      <tr class='high-prio'>
    <% else %>
      <tr class='low-prio'>
    <% end %>
        <td class='we-ft'><%= item.store %></td>
        <td class='we-ft'><%= item.name %></td>
        <td class='we-ft'><%= item.model_number %></td>
        <td class='we-ft'><%= item.color %></td>
        <td class='td-status we-ft'><%= item.status %></td>
        <td class='we-ft priority-changer'>
          <div class="form-holder">
            <form class="item-priority-form" action="/items/<%= item.id %>/edit" method="patch">
              <% if item.status.include?( 'Picked Up' ) || item.status.include?( 'Delivered' ) || item.status.include?( 'Shipped' ) %>
                <select name="priority" disabled>
                  <% if item.priority == 'Low' %>
                  <option value="Low">Low</option>
                  <option value="High">High</option>
                  <% else %>
                  <option value="High">High</option>
                  <option value="Low">Low</option>
                  <% end %>
                </select>
              <% else %>
                <select name="priority">
                  <% if item.priority == 'Low' %>
                  <option value="Low">Low</option>
                  <option value="High">High</option>
                  <% else %>
                  <option value="High">High</option>
                  <option value="Low">Low</option>
                  <% end %>
                </select>
              <% end %>
            </form>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="link-holder add-to-order-linker">
  <%= link_to "Add To This Order", new_item_path( :order_id => params[ 'id' ] ), class: :add_item_to_order_link %>
</div>


<%= render '/layouts/footer' %>

<script type="text/javascript">
  $( '.travel-link' ).on( 'click', function( e ) {
    e.preventDefault();
    $( '.popup-traveler' ).show();
  });

  $( 'form input.travel-click' ).on( 'click', function( e ) {
    e.preventDefault();

    var target = e.target
    var url = target.parentElement.parentElement.action
    var type = target.parentElement.parentElement.method
    var data = 'airport-from=' + target.parentElement.parentElement[ 0 ].value +
               '&airport-to=' + target.parentElement.parentElement[ 1 ].value +
               '&date=' + target.parentElement.parentElement[ 2 ].value +
               '&qty=' + target.parentElement.parentElement[ 3 ].value +
               '&info=' + target.parentElement.parentElement[ 4 ].value


    $.ajax({
      type: type,
      url: url,
      data: data
    }).done( function( response ) {
      $( '.inner' ).html( '' );
      $( '.inner' ).append( response );
      setTimeout(
        function()
        {
          location.reload();
        }, 5000);
    });
  });


  $( '.item-priority-form select' ).on( 'change', function( e ) {
    e.preventDefault();

    var target = e.target;
    var type = target.parentElement.method;
    var url = target.parentElement.action;
    var data = $( target ).serialize();

    $.ajax({
      type: type,
      url: url,
      data: data
    }).done( function( response ) {
        location.reload();
    });
  });
</script>
