<%= render '/layouts/header' %>
<%= render '/layouts/nav' %>

<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="new-item-form-area">
      <%= form_for @item do |f| %>
        <label for="store">Pick A Store</label>
      <%= f.select :store, [ [ 'None' ], [ 'Beach Bunny' ], [ 'TopShop' ], [ 'SheInside' ], [ 'Lululemon' ], [ 'PacSun' ], [ 'Zara' ], [ 'Century 21' ], [ 'Sea Dreamer The Label' ], [ 'Swimwearworld.com' ], [ 'Crate & Barrel' ], [ 'H&M' ], [ 'Sunglass Hut' ], [ 'Bed Bath & Beyond' ], [ "Victoria's Secret" ] ], { selected: 'None' }, class: 'store-changer' %>
        <label for="name">Name - Place Color Into Name of Item As Well!</label>
      <%= f.text_field :name %>
      <%= f.label :model_number %>
      <%= f.text_field :model_number %>
        <label for="price_range">Choose The Price Range For This Item</label>
      <%= f.select :price_range, [ [ '$0 - $50' ], [ '$50 - $100' ], [ '$100 - $150' ], [ '$150 - $250' ], [ '$250 - $500' ], [ '$500 +' ] ] %>
      <%= f.hidden_field :shipping_time, value: 'This item will ship out within 24 hours!', class: "hidden_shipping_time" %>

      <p>This item will ship out within 24 hours!</p>

      <% if params[ 'order_id' ] %>
        <%= f.hidden_field :order_id, value: params[ 'order_id' ] %>
      <% else %>
        <%= f.hidden_field :order_id, value: Order.last.id %>
      <% end %>

      <%= f.submit 'Add Item To Order!', class: "submit-new-item" %>
      <% end %>
    </div>

    <div class="link-holder">
      <% if Order.last.items.empty? == false %>
      <% if params[ 'order_id' ] %>
      <%= link_to 'View Your Order', order_path( Order.find_by( id: params[ 'order_id' ] ) ), class: :view_making_order %>
      <% else %>
      <%= link_to 'View Your Order', order_path( Order.last ), class: :view_making_order %>
      <% end %>
      <% end %>
    </div>

    <div class="site-window-holder">

    </div>
  </main>
</div>

<%= render '/layouts/footer' %>

<script type="text/javascript">
  $( '.store-changer' ).on( 'change', function( e ) {
    var store = e.target.value

    if ( store === 'TopShop' ) {
      $( '.site-window-holder' ).show();
      $( '.site-window-holder' ).html( "<iframe src='http://topshop.com' width='100%' height='100%'></iframe>" );
    } else if ( store === 'Lululemon' ) {
      $( '.site-window-holder' ).show();
      $( '.site-window-holder' ).html( "<iframe src='http://lululemon.com' width='100%' height='100%'></iframe>" );
    } else if ( store === 'PacSun' ) {
      $( '.site-window-holder' ).show();
      $( '.site-window-holder' ).html( "<iframe src='http://pacsun.com' width='100%' height='100%'></iframe>" );
    } else if ( store === 'Zara' ) {
      $( '.site-window-holder' ).show();
      $( '.site-window-holder' ).html( "<iframe src='http://zara.com' width='100%' height='100%'></iframe>" );
    } else if ( store === 'Century 21' ) {
      $( '.site-window-holder' ).show();
      $( '.site-window-holder' ).html( "<iframe src='http://c21stores.com' width='100%' height='100%'></iframe>" );
    } else if ( store === 'Sea Dreamer The Label' ) {
      $( '.site-window-holder' ).show();
      $( '.site-window-holder' ).html( "<iframe src='http://seadreamerthelabel.com' width='100%' height='100%'></iframe>" );
    } else if ( store === 'Swimwearworld.com' ) {
      $( '.site-window-holder' ).show();
      $( '.site-window-holder' ).html( "<iframe src='http://swimwearworld.com' width='100%' height='100%'></iframe>" );
    } else if ( store === 'Crate & Barrel' ) {
      $( '.site-window-holder' ).show();
      $( '.site-window-holder' ).html( "<iframe src='http://crateandbarrel.com' width='100%' height='100%'></iframe>" );
    } else if ( store === 'H&M' ) {
      $( '.site-window-holder' ).show();
      $( '.site-window-holder' ).html( "<iframe src='http://hm.com' width='100%' height='100%'></iframe>" );
    } else if ( store === 'Sunglass Hut' ) {
      $( '.site-window-holder' ).show();
      $( '.site-window-holder' ).html( "<iframe src='http://sunglasshut.com' width='100%' height='100%'></iframe>" );
    } else if ( store === 'Bed Bath & Beyond' ) {
      $( '.site-window-holder' ).show();
      $( '.site-window-holder' ).html( "<iframe src='http://bedbathandbeyond.com' width='100%' height='100%'></iframe>" );
    } else if ( store === "Victoria's Secret" ) {
      $( '.site-window-holder' ).show();
      $( '.site-window-holder' ).html( "<iframe src='http://victoriassecret.com' width='100%' height='100%'></iframe>" );
    } else if ( store === "Beach Bunny" ) {
      $( '.site-window-holder' ).show();
      $( '.site-window-holder' ).html( "<iframe src='http://beachbunnyswimwear.com' width='100%' height='100%'></iframe>" );
    } else if ( store === "SheInside" ) {
      $( '.site-window-holder' ).show();
      $( '.site-window-holder' ).html( "<iframe src='http://shein.com' width='100%' height='100%'></iframe>" );
    } else if ( store === 'None' ) {
      $( '.site-window-holder' ).hide();
    };
  });

  $( 'form #item_price_range' ).on( 'change', function( e ) {
    $('form p').remove();
    var price_range = e.target.value;

    if ( price_range === '$0 - $50' ) {
      var element_yes = e.target.parentElement.lastElementChild
        $(element_yes).before('<p>This item will ship out within 24 hours!</p>');
        $('.hidden_shipping_time').val('This item will ship out within 24 hours!');
    } else if ( price_range === '$50 - $100' ) {
        var element_yes = e.target.parentElement.lastElementChild
          $(element_yes).before('<p>This item will ship out within 24 - 48 hours!</p>');
          $('.hidden_shipping_time').val('This item will ship out within 24 - 48 hours!');
    } else if ( price_range === '$100 - $150' ) {
        var element_yes = e.target.parentElement.lastElementChild
          $(element_yes).before('<p>This item will ship out within 3 - 4 days!</p>');
          $('.hidden_shipping_time').val('This item will ship out within 3 - 4 days!');
    } else if ( price_range === '$150 - $250' ) {
        var element_yes = e.target.parentElement.lastElementChild
          $(element_yes).before('<p>This item will ship out within 3 - 5 days!</p>');
          $('.hidden_shipping_time').val('This item will ship out within 3 - 5 days!');
    } else if ( price_range === '$250 - $500' ) {
        var element_yes = e.target.parentElement.lastElementChild
          $(element_yes).before('<p>This item will ship out within 5 - 7 days!</p>');
          $('.hidden_shipping_time').val('This item will ship out within 5 - 7 days!');
    } else if ( price_range === '$500 +' ) {
        var element_yes = e.target.parentElement.lastElementChild
          $(element_yes).before('<p>This item will ship out within 7 - 10 days!</p>');
          $('.hidden_shipping_time').val('This item will ship out within 7 - 10 days!');
    };
  });
</script>
